<?xml version="1.0"?>
<!--
/**
 * Copyright © Fisheye Media Ltd. All rights reserved.
 * See LICENCE.txt for licence details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Fisheye_UrlRewriteOptimiser" setup_version="1.0.0">
        <sequence>
            <module name="Magento_CatalogUrlRewrite"/>
        </sequence>
    </module>
</config>
